html, body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}
.page-container{
    background:#bbcefa  !important;
    background-attachment: fixed;
}
a {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

body {
    margin: 0 auto;
     background-color:#fff !important;
}
.body-s {
    max-width: 400px;
}
@media screen and (max-width: 600px) {
    .body {
        padding: 20px;
    }
}
#sky-form{
    background: url(../img/bg.jpg);
}
.note{
    color: #fff;
}
.kujieleza{
    font-weight: 100;
    line-height:  200%;
    font-size: 18px;
    font: 15px/1.55 'Open Sans', Helvetica, Arial, sans-serif !important;
}
.kujieleza h2,.kujieleza h3,.kujieleza h4{
   line-height:  300%; 
}
.footer,.page-footer-inner{
    background-color:#28a4c9;
    text-align: center;
    color: #fff;
    min-height: 100px; 
    margin-top: 20px !important;
}
.fm{
    margin-bottom: 10px !important;
}
.form-control{
        font: 12px/1.55 'Open Sans', Helvetica, Arial, sans-serif !important;
}.arrow_box {
	position: relative;
	background: #de9e2f;
	border: 1px solid #f5c422;
        width: 30%;
        padding: 10px !important;
        color:#fff;
        text-align: center;
      vertical-align: middle;
        font-weight: 100 !important;
        font-size: 18px;
        border-radius: 4px;
        
        
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(222, 158, 47, 0);
	border-bottom-color: #de9e2f;
	border-width: 11px;
	margin-left: -11px;
}
.arrow_box:before {
	border-color: rgba(245, 196, 34, 0);
	border-bottom-color: #f5c422;
	border-width: 14px;
	margin-left: -14px;
}
